In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
s = pd.Series(["m", "i", "k", "u", 3, 9, 39, 3.939])

In [4]:
s

0        m
1        i
2        k
3        u
4        3
5        9
6       39
7    3.939
dtype: object

In [10]:
s = pd.Series(["m", "i", "k", "u", 3, 9, 39, 3.939], index=["A","B","Z","X", "y", "h", "i", "D" ])

In [11]:
s

A        m
B        i
Z        k
X        u
y        3
h        9
i       39
D    3.939
dtype: object

In [12]:
heroes_dict = { 'ana':200, 'bastion':300, 'dva':500, 'genji':200, 'hanjo':200, 'junkrat':200, 'lucio':200, 'macree':200, 'mei':250, 'mercy':200, 'pharah':200, 'reaper':250, 'reinhardt':500, 'roadhog':600, 'soldier76':200, 'symmetra':200, 'torbjorn':200, 'tracer':150, 'widowmaker':200, 'winston':500, 'zarya':400, 'zenyatta':200 }

In [13]:
heroes_series = pd.Series(heroes_dict)

In [14]:
heroes_series

ana           200
bastion       300
dva           500
genji         200
hanjo         200
junkrat       200
lucio         200
macree        200
mei           250
mercy         200
pharah        200
reaper        250
reinhardt     500
roadhog       600
soldier76     200
symmetra      200
torbjorn      200
tracer        150
widowmaker    200
winston       500
zarya         400
zenyatta      200
dtype: int64

In [15]:
heroes = { "name":[ 'ana', 'bastion', 'dva', 'genji', 'hanjo', 'junkrat', 'lucio', 'macree', 'mei', 'mercy', 'pharah', 'reaper', 'reinhardt', 'roadhog', 'soldier76', 'symmetra', 'torbjorn', 'tracer', 'widowmaker', 'winston', 'zarya', 'zenyatta' ], "health":[ 200, 300, 500, 200, 200, 200, 200, 200, 250, 200, 200, 250, 500, 600, 200, 200, 200, 150, 200, 500, 400, 200 ], "position":[ "support", "defense", "tank", "offense", "defense", "defense", "support", "offense", "defense", "support", "offense", "offense", "tank", "tank", "offense", "support", "defense", "offense", "defense", "tank", "tank","support" ], "id":[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22 ] }

In [16]:
heroes_df = pd.DataFrame(heroes)

In [17]:
heroes_df

    health  id        name position
0      200   1         ana  support
1      300   2     bastion  defense
2      500   3         dva     tank
3      200   4       genji  offense
4      200   5       hanjo  defense
5      200   6     junkrat  defense
6      200   7       lucio  support
7      200   8      macree  offense
8      250   9         mei  defense
9      200  10       mercy  support
10     200  11      pharah  offense
11     250  12      reaper  offense
12     500  13   reinhardt     tank
13     600  14     roadhog     tank
14     200  15   soldier76  offense
15     200  16    symmetra  support
16     200  17    torbjorn  defense
17     150  18      tracer  offense
18     200  19  widowmaker  defense
19     500  20     winston     tank
20     400  21       zarya     tank
21     200  22    zenyatta  support

In [18]:
csv_data = pd.read_csv("examples/book_list.csv")

In [19]:
csv_data.head()

,book_title,book_author,book_translator,book_pub_date,book_isbn
0,러닝 리액트,"알렉스 뱅크스 , 이브 포셀로",오현석,2018-02-13,9.791162e+12
1,저는 차트분석이 처음인데요 최신개정판,강병욱,2018-01-22,344 쪽,3.190000e+03
2,HOW TO WALK,틱낫한,진우기,2018-01-29,9.791158e+12
3,HOW TO RELAX,틱낫한,진우기,2018-01-29,9.791158e+12
4,HOW TO 시리즈(세트),틱낫한,진우기,2018-01-29,9.791158e+12